@import url(./global.css);

header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.3rem 0;

    & input {
        width: 70%;
        padding: .5rem;
        border: none;
        border-bottom: 1px solid #000;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-style: italic;
            letter-spacing: 1.2px;
        }
    }

    & .button {
        &#btnNewProduct:hover {
            background: #8cdd8c;
        }

        &#btnAlert:hover {
            background: #d47f7f;
        }
    }
}

/* SECTION PRODUCT LIST*/
#productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    & .product {
        border: none;
        border-radius: .5rem;
        box-shadow: 1px 1px 5px #0000004f;

        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: .5rem .7rem;

        & .informations {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 1rem;
            gap: .5rem;

            & p {
                display: flex;
                gap: 1.5rem;
            }
        }

        & .buttons {
            width: 60px;
            gap: .5rem;
            flex-flow: row wrap;

            & button {
                border: none;
                background: transparent;
                cursor: pointer;

                & img {
                    width: 25px;
                }
            }
        }
    }
}